* {

    box-sizing: border-box; /*acopla el borde de la página para que no halla scroll horizontal*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}
.body{
    border: 10px solid chocolate ;
    padding: 5px;
    
}

.name_company{
    color: chocolate;
    
} 
.barra_general{
    text-align: center;
    padding: 0mm;
    

}
.barra_general-item{
    list-style-type: none;
    display: inline-block;
    background-color: chocolate;
    border-color: coral;
    border-width: 2mm;
    border-radius: 5mm;
    padding: 2mm 20mm;
    margin: 0mm;
    
}

.barra_general-item a{
    color: white;
    text-decoration: none;
    
}
   
.cuerpo_parrafo{
    background-color: beige;
    width: 500px;
    height: 500px;
    border-radius: 6mm;
    
    
}  